name: Run tests

on: [pull_request, push]

jobs:
  test:

    strategy:
      fail-fast: false
      matrix:
        python: [3.9, '3.10', 3.11, 3.12, 3.13, 3.14, pypy-3.11]

    name: ${{ matrix.python }}
    runs-on: ubuntu-latest
    env:
      TERM: xterm-256color
        # This is needed to avoid a terminfo-related crash when
        # testing PyPy.

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python }}
    # Install dependencies. Test on Hy `master`, not the latest Hy
    # release.
    - run: pip install 'pytest >= 8.4.1' setuptools wheel git+https://github.com/hylang/hy@master
    # Be sure we're testing the installed version, instead of running
    # from the source tree. Use `--no-build-isolation` to ensure
    # Hy `master` is used to compile the bytecode.
    - run: pip install . --no-build-isolation && rm -r hyrule
    # Now we can run the tests.
    - run: pytest
